*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
.toolchain
/.dart_tool
/.home
/.flutter-plugins-dependencies
/.pub
/.pub-cache
flutter_*.log
*.iml
/.agents
/.kotlin
/dist
